* {
  box-sizing: border-box;
  color: #2f3e46;
}

body {
  background-color: #cad2c5;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8em;
}

.image-logo {
  width: 60px;
}

.navbar-custom {
  background-color: #2f3e46;
}

.nav-link {
  font-size: 1.1em;
}

h3,
h5 {
  text-align: center;
  justify-content: center;
}

.video {
  padding: 10px;
}

.centro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.intro {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 40px;
  justify-content: start;
  flex-wrap: wrap;
  vertical-align: middle;
}

.video {
  padding: 0px;
}
#ajuste_video {
  padding-left: 20px;
}

.card-group {
  margin-left: 40px;
  margin-right: 40px;
}

.card > img {
  width: 100%;
}

footer {
  color: white;
  text-align: center;
  padding: 5px 0;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: center;
}

footer > .container {
  border-top: #2f3e46 1px solid;
}

footer > .container > p {
  margin: 0 auto;
}
